body {
	font: 14px "Century Gothic", Futura, sans-serif;
	margin: 20px;
}

.parlay {}

.parlay td {
	padding: 20px;
	text-align: center;
	width: 150px;
}

.bet {}

.bet td, th{
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	width: 150px;
}

.won {
	background-color: #0cb318;
	color: #003003;
}

.winning {
	background-color: #99ffa0;
	color: #017009;
}

.losing {
	background-color: #ffa6a6;
	color: #ab0202;
}

.lost {
	background-color: #db0202;
	color: #380101;
}

.tied {}

.button {
	margin: 10px;
}


